<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,user-scalable=no,initial-scale=1.0,  maximum-scale=1.0,minimum-scale=1.0"
    />
    <title>framework</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="/static/js/vexflow-debug.js"></script>
    <% if (NODE_ENV === 'development') { %>
    <script src="static/js/index.js"></script>
    <% } %>
  <script type="text/javascript" src="/public/static/js/manifest.c24868c0d4b426ab5d16.js"></script><script type="text/javascript" src="/public/static/js/2.fff22a731c8962b00181.js"></script><script type="text/javascript" src="/public/static/js/0.b100726477c9e24e707d.js"></script></body>
</html>
