*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "STHeiti",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background-color: #fff;
}

$color-gray-dark: #8f8f8f;
:-moz-placeholder {
  color: $color-gray-dark !important;
  font-weight: normal !important;
}
::-moz-placeholder {
  color: $color-gray-dark !important;
  font-weight: normal !important;
}
:-ms-input-placeholder {
  color: $color-gray-dark !important;
  font-weight: normal !important;
}
::-webkit-input-placeholder {
  color: $color-gray-dark !important;
  font-weight: normal !important;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #b8b8b8;
  &:hover {
    background: #9f9f9f;
  }
  transition: background-color 0.5s;
}

::-webkit-file-upload-button {
  cursor: pointer;
}

@for $width from 0 through 24 {
  .p-#{$width} {
    padding: $width + px;
  }
  .m-#{$width} {
    margin: $width + px;
  }
  .p-r-#{$width} {
    padding-right: $width + px;
  }
  .p-l-#{$width} {
    padding-left: $width + px;
  }
  .p-t-#{$width} {
    padding-top: $width + px;
  }
  .p-b-#{$width} {
    padding-bottom: $width + px;
  }
  .m-r-#{$width} {
    margin-right: $width + px;
  }
  .m-l-#{$width} {
    margin-left: $width + px;
  }
  .m-t-#{$width} {
    margin-top: $width + px;
  }
  .m-b-#{$width} {
    margin-bottom: $width + px;
  }
}

@for $size from 12 through 24 {
  .f-s-#{$size} {
    font-size: $size + px;
  }
}
